global
  log stdout format raw local0

defaults
  mode http
  http-reuse safe                   # 只在确定安全不会串请求的情况下，才复用后端连接
  balance roundrobin                # 负载均衡算法：轮询

  timeout connect 5s                # HAProxy → backend 建立 TCP 连接最多等 5 秒
  timeout client  30s               # 客户端（浏览器 / curl）最大空闲 30 秒, 不活跃就断开连接
  timeout server  30s               # backend 处理请求最长 30 秒, 超时就认为服务异常
  timeout http-request 10m
  timeout http-keep-alive 10m
  option http-server-close          # 避免连接复用导致上传卡死


