coloredlogs
requests
web3
timeout_decorator
Flask
Flask-Babel
pytz
Flask-Babel
markupsafe
Jinja2
click
Werkzeug
itsdangerous
matplotlib 
mplfinance 
uwsgi-tools

pytesseract
opencv-python
pillow
requests
uuid
